@model SportsStore.Domain.Entities.Product

<div class="card">

    <div class="card-header">
        <h3>
            <strong>@Model.Name </strong>
            <span class="float-right badge-info badge">@Model.Price.ToString("c")</span>
        </h3>
    </div>

    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="card-body">
            @Html.HiddenFor(x => x.ProductID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success float-right" value="Umieść w koszyku" />
        </div>
    }

    <div class="card-body">
        <p class="lead">@Model.Description</p>
    </div>
</div>

